.butt-log{
    width: 230px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.butt-log a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--secundaryColor);
    color:var(--textSecundaryColor);
    text-transform: capitalize;
}