.content-form {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.classbox, button {
    width: 100%;
    padding: 0 10px;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.inp{
    background-color: transparent;
    border: none;
    height: 100%;
}

input:focus{
    outline: none;
}